.options-close-button{
  &:hover{
    transform: scale(1.1); // powiększa o 10%
    color: rgba(145, 71, 255, 0.6);
  }

  &:active {
    transform: scale(0.95); /* lekko wciśnięty */
    color: rgba(145, 71, 255, 0.8); /* ciemniejszy odcień */
  }
}