.home-page{
    font-family: 'Inter Tight', sans-serif;
    font-size: 16px; /* domyślny rozmiar dla całej strony */
}

.display-4 {
  font-size: 20px !important;
  font-family: 'Inter Tight', sans-serif !important;
}

.btn.btn-danger.display-4 {
  font-size: 32px !important;   /* powiększ czcionkę */
  padding: 16px 32px !important; /* większy przycisk */
  font-family: 'Inter Tight', sans-serif !important;
  font-weight: 600;

  &:hover
  {
    transform: scale(1.1); // powiększa o 10%
  }


    @media (min-width: 768px) {
        font-size: 36px !important;   /* powiększ czcionkę */
        padding: 24px 48px !important; /* większy przycisk */
    }

    @media (min-width: 992px) {
        font-size: 48px !important;   /* powiększ czcionkę */
        padding: 32px 64px !important; /* większy przycisk */
    }
}

#info3-b .card {
  background: transparent !important; /* zamiast białego */
  box-shadow: none !important;       /* usuń cień jeśli jest */
  border: none !important;           /* usuń ramkę jeśli jest */
}

.navbar-nav .btn:hover {
  text-decoration: none !important;
}

.hover-nav-element{
  &:hover
  {
    transform: scale(1.1); // powiększa o 10%
  }
}

/* wyłącza linię/animację na tym elemencie menu */
.navbar-nav .nav-item.no-hover-underline::before,
.navbar-nav .nav-item.no-hover-underline::after {
  content: none !important;
  display: none !important;
}

/* na wszelki wypadek – żadnych podkreśleń/obramowań na hover */
.navbar-nav .nav-item.no-hover-underline a:hover,
.navbar-nav .nav-item.no-hover-underline a:focus {
  text-decoration: none !important;
  border: 0 !important;
  box-shadow: none !important;
}