.option-menu-button{
     &:hover {
    transform: scale(1.05); // powiększa o 10%
    background-color: rgba(145, 71, 255, 0.4);
    cursor: pointer;
  }

  &:active {
    transform: scale(0.95); /* lekko wciśnięty */
    background-color: rgba(145, 71, 255, 0.8); /* ciemniejszy odcień */
  }
}

.option-menu-button-text{
    font-family: 'Inter', sans-serif; // używasz zaimportowanego fontu
    font-size: 14px;                  // rozmiar tekstu w pikselach
    font-weight: bold;                // lub 700 (np. font-weight: 700;)
    @media (min-width: 576px) {
    font-size: 20px;  // średni ekran (sm)
    }  
}

.options-menu-button-current-selected{
  background-color: rgba(145, 71, 255, 0.6); /* ciemniejszy odcień */

}

.justify-menu-buttons{
      text-align: center;
    justify-content: center;

    @media (min-width: 992px)
    {
      text-align: left;
      justify-content: start;
    }
}