/* You can add global styles to this file, and also import other style files */
/* Zresetuj domyślne marginesy i padding */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Inter', sans-serif;
}


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
