.pomodoro-timer{
    font-family: 'Inter', sans-serif; 
    font-size: 128px;                  
    font-weight: bold;                
    color: #DBE5DF;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
    margin-top: -50px;
    margin-bottom: -50px;
    
    @media (min-width: 576px) {
    font-size: 128px;  // średni ekran (sm)
    margin-top: -50px;
    margin-bottom: -50px;
    }

    @media (min-width: 768px) {
    font-size: 192px;  // większy ekran (md)
    margin-top: -50px;
    margin-bottom: -50px;
    }

    @media (min-width: 992px) {
    font-size: 256px;  // duży ekran (lg)
    margin-top: -75px;
    margin-bottom: -75px;
    }
}

.timer-text{
    font-family: 'Inter', sans-serif; // używasz zaimportowanego fontu
    font-size: 24px;                  // rozmiar tekstu w pikselach
    font-weight: bold;                // lub 700 (np. font-weight: 700;)
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    @media (min-width: 576px) {
    font-size: 36px;  // średni ekran (sm)
    }  
}