<div class="row pt-4 h-25 justify-content-center">
  <div class="col-12 col-sm-12 col-md-6 text-center">
      <app-quote></app-quote>
  </div>
</div>

<!-- Centralny element wyśrodkowany w pionie i poziomie -->
<div class="row flex-grow-1 d-flex align-items-center justify-content-center h-50">
  <div class="col text-center">
    <app-main-timer *ngIf="CurrentTimer === TimerType.Normal"></app-main-timer>
    <app-pomodoro-timer *ngIf="CurrentTimer === TimerType.Pomodoro"></app-pomodoro-timer>
  </div>
</div>

<!-- Dolny pasek z przyciskami i tekstem -->
<div class="row pb-4 h-25">
  <div class="col-md-6 d-flex align-items-end justify-content-start ps-4">
  <div class="d-flex flex-column text text-white">
    <div>Made with <span class="heart">❤︎</span></div>
    <div class="sign">by Kacper Steinke</div>
  </div>
</div>
  <div class="col-md-6 col-12-md d-flex align-items-end justify-content-end pe-4">
    <div class="row g-2 g-sm-4">
      <div class="col">
        <app-pomodoro-button (clickEvent)="pomodoroButtonClicked($event)"></app-pomodoro-button>
      </div>
      <div class="col">
        <app-sound-button></app-sound-button>
      </div>
      <div class="col">
        <app-options-button (clickEvent)="optionsButtonClicked($event)"></app-options-button>
      </div>
      <div class="col">
        <app-full-screen-button></app-full-screen-button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="IsOptionsDashboardOpen">
  <app-options-dashboard (clickEvent)="optionsCloseButtonClicked($event)"></app-options-dashboard>
</div>
  
  