.options-dashboard-menu{
    border-right: solid 3px white;
    height: 85vh;
}

.options-dashboard-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.98); /* lub dowolne inne tło */
  z-index: 1000;
  overflow: hidden; /* jeśli potrzebujesz scrolla */
    @media (min-width: 768px) {
      right: 0;
      width: 50vw;
      left: auto;
    }  
}

.option-dashboard-side
{
  width: 0vw;
  position: fixed;
  top: 0;
  left: 0;

  &:hover{
    cursor: pointer;
  }

  @media (min-width: 768px)
  {
    width: 50vw;
  }
}

.options-close-button{
  &:hover{
    transform: scale(1.1); // powiększa o 10%
    color: #556d62;
  }

  &:active {
    transform: scale(0.95); /* lekko wciśnięty */
    color: #2f4b42; /* ciemniejszy odcień */
  }
}